form.error-reporting-form {
  color: var(--main-text-color);
  font-size: var(--secondary-font-size);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form.error-reporting-form .form-control:has(input[type="checkbox"]) label {
  display: flex;
  align-items: center;
  gap: 8px;
}

form.error-reporting-form .form-control button.toggle-info-btn {
  width: 16px;
  height: 16px;
  border: 1px solid var(--main-text-color);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
}

form.error-reporting-form .form-control button.toggle-info-btn:hover {
  background-color: var(--highlighted-bg-color);
  border: 0;
}

.error-reporting-details {
  border: 1px solid #00000045;
  border-radius: 8px;
  padding: 16px 24px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--secondary-font-size);
}

.error-reporting-details ul {
  padding-left: 16px;
}
