.error-reporting-container {
  padding: 12px 0px;
  color: var(--main-text-color);
  font-size: var(--secondary-font-size);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error-reporting-control {
  display: flex;
  align-items: center;
  gap: 8px;
}

.error-reporting-control button.toggle-info-btn {
  margin-left: auto;
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-text-color);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--secondary-font-size);
  font-weight: bold;
}

.error-reporting-control button.toggle-info-btn:hover {
  background-color: var(--highlighted-bg-color);
}

.error-reporting-details {
  border: 1px solid #00000045;
  border-radius: 24px;
  padding: 16px 24px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--secondary-font-size);
}

.error-reporting-details ul {
  padding-left: 16px;
}
