form.site-control-form h4 {
  margin-bottom: 8px;
}

form.site-control-form {
  display: flex;
  flex-direction: column;
}

form.site-control-form .form-control.pending label {
  font-weight: bold;
}
