article[data-card-title] .sift-imdb-data {
  margin-top: 4px;
  margin-left: 4px;
}

div[data-testid="standard-mini-details"] .sift-imdb-data {
  margin-left: 0;
}

article[data-testid="super-carousel-card"] .sift-imdb-data {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin: 0;
}

.sift-imdb-data-content[data-program-selector='section[data-testid="super-carousel"] article[data-testid="super-carousel-card"]'] {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  padding: 3px 7px;
  background-color: white;

  color: black;
  font-size: 13px;
  font-weight: bold;
  line-height: var(--fable-typography-label-90-line-height);
}

.sift-imdb-data-content[data-program-selector='div[data-testid="top-hero-wrapper"] article[data-testid="top-hero-card"]'] {
  color: white;
  font-size: 16px;

  .headline {
    .rating-page-link svg {
      height: 16px;
      stroke: white;
    }
  }
}
