form.error-reporting-form {
  color: var(--main-text-color);
  font-size: var(--secondary-font-size);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form.error-reporting-form button.show-details-btn {
  border: 1px solid var(--main-text-color);
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  padding: 0 8px;
}

form.error-reporting-form button.show-details-btn:hover {
  background-color: var(--highlighted-bg-color);
  border: 1px solid transparent;
}
