.sift-imdb-data {
  margin-top: -6px;
}

div.PortraitTile .sift-imdb-data {
  margin-top: 8px;
}

div.DetailEntityMasthead .sift-filtered-out-program {
  opacity: 1;
}

div[data-testid="medium-emphasis-vertical-tile"] .sift-imdb-data {
  margin: 0;
}

div.MastheadAndBanner .sift-imdb-data {
  display: inline;
  color: white;
  font-size: 12px;
}

div.MastheadAndBanner .sift-imdb-data::after {
  content: " • ";
}

div[data-testid="preview-panel"] .sift-imdb-data {
  margin: 0 20px;
}

.sift-imdb-data-content {
  font-size: 12px;
  font-weight: 500;
}

.sift-imdb-data-content[data-program-selector='div.StandardSliderCollectionSimple div[data-testid="medium-emphasis-vertical-tile"]'] {
  color: white;

  .rating-page-link svg {
    stroke: white;
    stroke-width: 2px;
  }
}

.sift-imdb-data-content[data-program-selector='div[data-testid="preview-panel-container"] div[data-testid="preview-panel"]'] {
  color: white;
  font-size: 14px;
  font-weight: 400;

  .rating-page-link svg {
    position: relative;
    top: -2px;

    stroke: white;
    stroke-width: 2px;
  }

  .maybe-wrong-button {
    line-height: 1.5;
  }
}
