.sift-imdb-data {
  margin: 4px 0;
  color: #999999;
  display: block;
  font-size: 14px;
}

div.PortraitTile .sift-imdb-data {
  margin-top: 8px;
  color: white;
  font-weight: 400;
}

div.DetailEntityMasthead .sift-filtered-out-program {
  opacity: 1;
}

div.DetailEntityMasthead .sift-imdb-data {
  color: white;
}

div[data-testid="high-emphasis-tile"] .sift-imdb-data {
  color: white;
  font-size: 18px;
}

div[data-testid="medium-emphasis-vertical-tile"] .sift-imdb-data {
  color: white;
  margin: 0;
  font-size: 12px;
}

div[data-testid="preview-panel"] .sift-imdb-data {
  color: white;
  display: inline;
}

div[data-testid="preview-panel"] .sift-imdb-data::after {
  content: " • ";
}

div.MastheadAndBanner .sift-imdb-data {
  display: inline;
  color: white;
  font-size: 12px;
}

div.MastheadAndBanner .sift-imdb-data::after {
  content: " • ";
}
