.sift-imdb-data {
  margin: 4px 0 0 4px;
}

div.billboard div.info.meta-layer .sift-imdb-data {
  margin: 0;
}

div.title-card-container .sift-imdb-data {
  margin: 0;
  padding-top: 4px;
}

div.title-card-container:has(> div.progress) .sift-imdb-data {
  padding-top: 16px;
}

div.title-card-container:has(svg.top-10-rank) .sift-imdb-data {
  margin-left: 50%;
}

div.titleGroup--wrapper div.titleCard--container .sift-imdb-data {
  position: absolute;
  top: 4px;
  left: 4px;
  margin: 0;
  padding: 0 4px;
  background-color: #0000007f;
  border-radius: 0;
  color: white;
}

div.moreLikeThis--container div.titleCard--container .sift-imdb-data {
  position: absolute;
  top: 4px;
  left: 4px;
  margin: 0;
  padding: 0 4px;
  background-color: #0000007f;
  border-radius: 0;
  color: white;
}

.titleCard--metadataWrapper .sift-imdb-data {
  margin: 0 0 0.5em 1em;
}

section[data-uia="search-gallery"] .sift-imdb-data {
  position: absolute;
  top: 4px;
  left: 4px;
  margin: 0;
  padding: 0 4px;
  background-color: #0000007f;
  border-radius: 0;
  color: white;
}

section[data-uia="billboard"] .sift-imdb-data {
  margin-left: 0;
  color: white;
}

div[data-uia="carousel-scroller"]
  div:has(> a[data-uia="progress-card"])
  .sift-imdb-data {
  margin-top: 12px;
}

div.previewModal--container .sift-imdb-data {
  margin: 0;
  font-size: unset;
  font-weight: unset;
  color: unset;
}

div[data-uia="carousel-scroller"]
  div:has(> a[data-uia="ranked-card"])
  .sift-imdb-data {
  position: absolute;
  top: 4px;
  left: 4px;
  margin: 0;
}

div[data-uia="carousel-scroller"]
  div:has(> div > a[data-uia="ranked-card"])
  .sift-imdb-data {
  margin-left: 50%;
}

.sift-imdb-data-content[data-program-selector='section.carousel-row:not(#place-holder-carousel) div[data-uia="carousel-scroller"] div:has(> a[data-uia="ranked-card"])'] {
  background-color: #0000007f;
  border-radius: 0;
  padding: 0px 4px;
  color: white;

  .headline {
    .rating-page-link svg {
      stroke: white;
    }
  }
}

.sift-imdb-data-content[data-program-selector='div:has(> section[data-uia="billboard"]) section[data-uia="billboard"]'] {
  color: white;
  font-size: 16px;

  .headline {
    .rating-page-link svg {
      height: 16px;
      stroke: white;
    }
  }
}

.sift-imdb-data-content[data-program-selector="div.billboard div.info.meta-layer"] {
  color: white;
  font-size: 16px;

  .headline {
    .rating-page-link svg {
      height: 16px;
      stroke: white;
    }
  }
}

.sift-imdb-data-content[data-program-selector="div.moreLikeThis--wrapper div.titleCard--container"] {
  color: white;
  font-size: 16px;

  .headline {
    .rating-page-link svg {
      height: 16px;
      stroke: white;
    }
  }
}
