.sift-imdb-data {
  margin: 2px 0 0 8px;
  color: #999999;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

a.trending-tray-link .sift-imdb-data {
  position: absolute;
  top: 6px;
  left: 6px;
  margin: 0;
  padding: 2px 4px;
  background-color: #0000007f;
  border-radius: 4px;
  color: white;
}

a.portrait-link .sift-imdb-data {
  position: absolute;
  top: 6px;
  left: 6px;
  margin: 0;
  padding: 2px 4px;
  background-color: #0000007f;
  border-radius: 4px;
  color: white;
}

div.listinpage_wrapper .innerlist a[id] div.listing-portrait-card-inner-div {
  position: relative;
}

div.listinpage_wrapper .innerlist a[id] .sift-imdb-data {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
  padding: 4px 8px;
  background-color: #454545;
  border-radius: 4px;
  color: #eaeaea;
}

/* these show up when hovering over the "movies" link on the home and
   other pages */
div.megaMenu div.layout-container a.portrait-link .sift-imdb-data {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
  padding: 4px 8px;
  background-color: #454545;
  border-radius: 4px;
  color: #eaeaea;
}

div.PopularSearchContainer > a[id] {
  position: relative;
}

div.PopularSearchContainer > a[id] .sift-imdb-data {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  margin: 0;
  padding: 4px 8px;
  background-color: #0000007f;
  border-radius: 4px;
  color: white;
}

div.PopularSearchContainer div.sonyliv-original-block-wrap .sift-imdb-data {
  margin: 0;
}

div.card_container .sift-imdb-data {
  margin: 0;
}

@media screen and (max-width: 420px) {
  .sift-imdb-data {
    position: absolute;
    top: 2px;
    left: 10px;
    margin: 0;
    width: 48px;
    height: 20px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 9px;
  }
}

.sift-imdb-data-content {
  color: rgba(255, 255, 255, 0.85);
}

.sift-imdb-data-content[data-program-selector="div.PopularSearchContainer a[id]"] {
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;

  .rating-page-link svg {
    stroke: rgba(255, 255, 255, 0.85);
  }
}
