* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, Arial, sans-serif;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 32px;
  padding: 16px;

  display: flex;
  align-items: center;
  gap: 64px;
}

header .period-controls {
  display: flex;
  gap: 32px;
}

header label {
  border: 1px solid black;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: bold;

  display: flex;
  gap: 16px;
}

.dashboard .charts-container {
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
