a.sift-imdb-data {
  color: var(--systemSecondary);
  margin-left: 4px;
}

ul > li button.epic-showcase-item .sift-imdb-data {
  position: absolute;
  bottom: 10px;
  left: 12px;
  z-index: 1;
  margin: 0;
  color: white;
}

div.search-hint-lockup div[data-testid="search-hint-lockup-title"] {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

div.search-hint-lockup
  div[data-testid="search-hint-lockup-title"]
  .sift-imdb-data {
  flex-shrink: 0;
}

a.search-card.lockup .sift-imdb-data {
  margin-left: 0;
}
