.sift-imdb-data {
  margin-top: 4px;
  width: fit-content;
  padding: 0 4px;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  color: #606060;
  text-decoration: none;
}

div#above-the-fold.ytd-watch-metadata.sift-filtered-out-program {
  opacity: 1;
}

.sift-imdb-data-content {
  color: #606060;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-decoration: none;
}
