.onboarding-flow {
  padding-bottom: 16px;

  display: flex;
  flex-direction: column;
}

.onboarding-flow .page {
  position: relative;

  margin-bottom: 16px;
}

.onboarding-flow .page .loading-overlay {
  flex-direction: column;
}

.onboarding-flow .page div.hero {
  margin: 16px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.onboarding-flow .page div.hero > svg:first-child {
  width: 48px;
}

.onboarding-flow .page div.hero > h1 {
  font-size: 24px;
  font-weight: bold;
}

.onboarding-flow .page > *:not(:last-child):not(.overlay) {
  margin-bottom: 16px;
}

.onboarding-flow button.btn-next {
  align-self: flex-end;
}

.onboarding-flow p.error {
  margin-top: 16px;
  color: red;
  text-align: center;
}

.onboarding-flow .inline-icon {
  position: relative;
  top: 2px;
  height: 14px;
  margin-right: 2px;
}
