.onboarding-flow {
  display: flex;
  flex-direction: column;
}

.onboarding-flow .page {
  margin-bottom: 16px;
}

.onboarding-flow .page div.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.onboarding-flow .page div.hero > img:first-child {
  width: 120px;
  height: 120px;
}

.onboarding-flow .page div.hero > h1 {
  font-size: 24px;
  font-weight: bold;
}

.onboarding-flow .page > *:not(:last-child) {
  margin-bottom: 16px;
}

.onboarding-flow button.btn-next {
  align-self: flex-end;
}
