.onboarding-flow {
  display: flex;
  flex-direction: column;
}

.onboarding-flow .page {
  margin-bottom: 16px;
}

.onboarding-flow .page > *:not(:last-child) {
  margin-bottom: 16px;
}

.onboarding-flow button.next-button {
  align-self: flex-end;

  padding: 8px 16px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  cursor: pointer;
}

.onboarding-flow button.next-button:hover {
  background-color: var(--highlighted-bg-color);
}
