.page.flow-finished-page > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.page.flow-finished-page > div:first-child > img:first-child {
  width: 120px;
  height: 120px;
}

.page.flow-finished-page > div:first-child > p {
  font-size: 24px;
  font-weight: bold;
}
